$FONT_FAMILY: "Poppins", sans-serif;

$PRIMARY_COLOR: #2f80ed;
$SECONDARY_COLOR: #f2994a;
$BG_COLOR: #f2f2f2;
$TEXT_COLOR: #333333;
$INVERSE_TEXT_COLOR: #ffffff;
$BG_COLOR: #f2f2f2;
$WHITE: #ffffff;

// Spacing
$SPACE-AUTO: auto;
$SPACE-1: 0.3125em;
$SPACE-2: 0.625em;
$SPACE-3: 0.94em;
$SPACE-4: 1.25em;

// Font sizes
$FONT-SIZE-1: 0.75rem;
$FONT-SIZE-2: 1rem;
$FONT-SIZE-3: 1.125rem;
$FONT-SIZE-4: 1.5rem;
$FONT-SIZE-5: 2rem;

// Borders
$BORDER-RADIUS: 5px;
